:root{
    --color-principal: #600A1E;
    --color-secundaria: #842038;
    --color-terciaria: #E2889F;
    --color-quarta: #781931;
    --color-red: #FF3A55;
    --color-yellow: rgb(255, 170, 9);

    --color-black: #000000;
    --color-white: #ffffff
}


/* general style */
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.bg-color-principal{
    background-color: var(--color-principal);
}
.bg-color-secundaria{
    background-color: var(--color-secundaria);
}
.bg-color-terciaria{
    background-color: var(--color-terciaria);
}
.container{
    max-width: 1100px;
    margin: auto;
}
.f-60{
    flex-basis: 60%;
}
.f-40{
    flex-basis: 40%;
}
.f-33{
    flex-basis: 33%;
}
.w-100{
    width: 100%;
}
/* general style */

.btn_defaul_red{
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    border-radius: 8px;
    padding: 8px 30px;
    color: var(--color-white);
    cursor: pointer;
    outline: none;
}
.btn_default_transparent{
    background-color: transparent;
    border: 1px solid var(--color-red);
    border-radius: 8px;
    padding: 8px 30px;
    color: var(--color-red);
    cursor: pointer;
    outline: none;
}


header.header{
    background-color: var(--color-principal);
    border-bottom: 4px solid var(--color-secundaria);
}
.container_header{
    padding: 2px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.btn_side{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all .23s;
}
.btn_side img{
    width: 100%;
}
.logo_site{
    width: 183px;
    display: flex;
}
.logo_site img{
    width: 100%;
}
.header_left{
    display: flex;
    align-items: center;
}
.count_time{
    padding: 0 20px;
    text-align: center;
    color: var(--color-terciaria);
    font-size: .620em;
}

.select_language{
    position: relative;
    padding: 5px 10px;
    border: 1px solid var(--color-terciaria);
    border-radius: 40px;
    color: var(--color-terciaria);
    font-size: 1em;
    cursor: pointer;
}
.select_language span{
    display: flex;
    align-items: center;
}
.select_language span i{
    margin-left: 25px;
}
.select_language .list_select_language{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: var(--color-principal);
    border: 2px solid var(--color-terciaria);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
    display: none;
}
.option_select_language{
    padding: 15px;
    color: var(--color-terciaria);
    cursor: pointer;
}
.option_select_language:hover{
    color: var(--color-red);
    background-color: var(--color-secundaria);
}

.header_center{
    width: 49%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_center img{
    height: 64px;
}


main.main{
    width: 100%;
    display: flex;
}
/* ======= sidebar ====== */

.side_menu{
    width: 240px;
    background-color: var(--color-principal);
    overflow-y: scroll;
}
.side_menu::-webkit-scrollbar{
    display: none;
}
.block_side_menu{
    padding: 5px 5px 0 5px;
}
.sections_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sections_card a{
    width: calc(50% - 10px);
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: var(--color-secundaria);
    height: 75px;
}
.sections_card a:hover{
    filter: brightness(90%);
}
.sections_card a:hover p{
    color: var(--color-red)!important;
}
.sections_card a p{
    color: var(--color-terciaria);
    font-size: .876em;
    width: 100%;
    text-align: center;
}
.item_card_select{
    background-color: var(--color-red)!important;
}
.item_card_select p{
    color: var(--color-white)!important;
}
.item_card_select img.float_right, .item_card_select img.float_left{
    display: flex!important;
}
a.item_card_select:hover p{
    color: var(--color-white)!important;
}
a.item_card_select:hover{
    filter: brightness(100%);
}
.sections_card a img.icon_button{
    width: 50%;
}
.sections_card a img.float_left{
    position: absolute;
    top: 5px;
    left:0px;
    width: 32px;
    display: none;
}
.sections_card a img.float_right{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 32px;
    display: none;
}


.list_btns_play{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_btns_play button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}
.list_btns_play button i{
    color: var(--color-red);
    font-size: 2em;
}
.over_player{
    background-color: var(--color-secundaria);
    border-radius: 8px;
    margin: 0 5px;
}
.block_player p{
    color: var(--color-terciaria);
    width: 100%;
    text-align: center;
}
.over_record{
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.icon_record{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_record i{
    color: var(--color-terciaria);
    font-size: 2em;
}
.info_record{
    width: 65%;
}
.info_record p{
    font-size: 1.2em;
    color: var(--color-terciaria);
    line-height: 1.2em;
    text-align: center;
}
.bottom_sections_card{
    padding: 5px;
    margin: 0 5px;
    border-radius: 8px;
}
.bottom_sections_card a{
    position: relative;
    overflow: hidden;
}
.bottom_sections_card a:hover p{
    color: var(--color-white)!important;
}
.bottom_sections_card a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom_sections_card a p{
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--color-white);
    width: auto;
}
.bottom_sections_card a.last_card{
    width: 100%;
}
.bottom_sections_card a.last_card p{
    top: 15%;
    left: 10%;
    font-size: 1.5em;
}
.login_fast a img{
    width: 20px;
    margin-right: 10px;
}
.list_options{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 8px;
}
.list_options > li{
    width: 100%;
    display: flex;
}
.list_options > li > a{
    width: 100%;
    display: flex;
    color: var(--color-terciaria);
    padding: 10px;
}
.list_options > li > a:hover{
    color: var(--color-red);
}
.list_options > li > a span{
    margin-right: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--color-terciaria);
    color: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_options > li > a:hover span{
    background-color: var(--color-red);
}
.list_options .item_has_children{
    position: relative;
}
.list_options .sub_menu{
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--color-principal);
    border: 2px solid var(--color-terciaria);
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.list_options .item_language{
    display: flex;
    align-items: center;
}
.list_options .item_language i{
    display: flex;
    align-items: center;
    margin: 5px;
    margin-right: 10px;
    font-size: 1.4em;
}
.login_fast{
    padding: 5px;
}
.login_fast p{
    color: var(--color-terciaria);
    margin-bottom: 10px;
}
.list_login_fast li{
    width: 100%;
}
.list_login_fast li a{
    width: 100%;
    color: var(--color-terciaria);
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--color-secundaria);
    border-radius: 8px;
    margin-bottom: 10px;
}
.list_login_fast li a:hover{
    filter: brightness(90%);
}
/* ======= sidebar ====== */



/* =========== body dash ================ */
.body_dash{
    background-color: var(--color-quarta);
    background-image: url(../img/bg_part.png);
    position: relative;
    overflow-y: scroll;
}
.body_dash::-webkit-scrollbar{
    display: none;
}
.img_body_dash_left{
    position: absolute;
    top: 0;
    left: 0;
}
.img_body_dash_right{
    position: absolute;
    top: 0;
    right: 0;
}
.container_body_dash{
    max-width: 1100px;
    margin: auto;
    position: relative;
    padding-bottom: 80px;
}
.out_player{
    background-color: var(--color-principal);
    padding: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.out_player marquee{
    color: var(--color-yellow);
}
.icon_envelope{
    padding: 2px 10px;
}
.icon_envelope i{
    color: var(--color-terciaria);
}
.icon_song{
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_song img{
    width: 22px;
}


/* slick slide */
.slide_center{
    padding: 40px 0;
}
.slide_center a{
    margin: 10px;
}
.slide_center a img{
    width: 100%;
    filter: blur(4px);
    border-radius: 30px;
}
.slide_center .slick-center img{
    transform: scale(1.2);
    position: relative;
    z-index: 1;
    filter: blur(0px);
}
.slick-next, .slick-prev{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--color-terciaria);
    background-color: rgba(10,10,10, .3);
    z-index: 1;
}
.slick-next{
    right: 10px;
}
.slick-prev{
    left: 10px;
}
/* slick slide */


.flag_app{
    background-color: var(--color-principal);
    border: 2px solid var(--color-secundaria);
    display: flex;
    align-items: center;
    position: relative;
}
.flag_app::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(116, 15, 20, 1);
}
.close_flag_app{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 15px;
    border-right: 1px solid var(--color-secundaria);
    position: relative;
    z-index: 1;
}
.close_flag_app i{
    color: var(--color-white);
}
.content_flag_app{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    z-index: 1;
}


.out_jackpot{
    padding: 20px 0;
    display: flex;
}
.inter_jackpot{
    width: 100%;
    margin: auto;
}
.inter_jackpot img{
    width: 100%;
}
.head_slots{
    padding: 0;
    border-bottom: 1px solid var(--color-terciaria);
}
.head_slots ul{
    display: flex;
}
.head_slots ul li a{
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: var(--color-terciaria);
}
.head_slots ul li a.active{
    border-bottom: 2px solid var(--color-red);
}
.head_slots ul li a.active p{
    color: var(--color-red);
}
.head_slots ul li a img{
    width: 32px;
}
.head_slots ul li a p{
    width: 100%;
    text-align: center;
    font-size: .7em;
}

.slots_game{
    background-color: var(--color-principal);
    border-radius: 10px;
    padding: 10px;
}
.block_cards{
    padding: 10px;
    position: relative;
}
.block_cards::after{
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--color-terciaria);
}
.block_cards:last-child:after{
    display: none;
}
.head_block_cards{
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.head_block_cards img{
    margin-right: 10px;
    width: 42px;
}
.head_block_cards h3{
    color: var(--color-white);
    font-weight: 300;
}

.list_block_cards{
    display: flex;
    flex-wrap: wrap;
}
.list_block_cards a{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: var(--color-white);
    position: relative;
}
.list_block_cards a.best::before{
    content: "BEST";
    background-color: #FF2B1C;
    padding: 0 4px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.1em;
    border-radius: 3px;
}
.over_play_block_card{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(1,1,1, .8), transparent);
    opacity: 0;
    transition: all .6s;
}
.list_block_cards a:hover .over_play_block_card{
    opacity: 1;
}
.list_block_cards a img.img_block_card{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.info_block_cards{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}
.info_block_cards p{
    text-shadow: 2px 2px 10px #000000;
}
.info_block_cards p small{
    font-size: .7em;
}
.icon_star_block_card{
    position: absolute;
    top: 5px;
    right: 5px;
}
.play_block_card{
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-red);
    z-index: 10;
}
.play_block_card i{
    color: var(--color-white)!important;
    font-size: 2em;
    margin-left: 3px;
}
/* =========== body dash ================ */


/* ==================== footer ======================= */
.footer_dash{
    background-color: var(--color-principal);
    position: relative;
}
.content_footer_dash{
    padding: 60px 10px 10px;
}
.list_social_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.list_social_footer li{
    width: 60px;
    display: flex;
}
.list_social_footer li a{
    width: 100%;
    display: flex;
    padding: 5px 10px;
}
.list_social_footer li a img{
    width: 100%;
}
.col_footer h3{
    color: var(--color-white);
    font-weight: 300;
    margin-bottom: 10px;
}
.col_footer ul li a{
    color: var(--color-terciaria);
    font-weight: 300;
}
.col_footer p{
    color: var(--color-terciaria);
    line-height: 1.4em;
    font-size: .8em;
    text-align: center;
    font-weight: 300;
}
.footer_dash .img_footer{
    width: 100%;
}
.bottom_footer{
    width: 100%;
}
.list_payment_footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 5%;
}
.list_payment_footer img{
    height: 30px;
}
.links_footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
}
.links_footer p{
    color: var(--color-white);
    font-weight: 200;
    font-size: .8em;
    padding: 0 20px;
}
.links_footer p:first-child{
    border-right: 1px solid var(--color-secundaria);
}
.img_footer_left{
    position: absolute;
    top: 0;
    left: 0;
}
.img_footer_right{
    position: absolute;
    top: 0;
    right: 0;
}
/* ==================== footer ======================= */



/* others */
.rotate{
    transform: rotate(180deg);
}
/* others */



/* ================ modal ====================== */
.over_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(10,10,10, .7);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal{
    background-color: var(--color-principal);
    border: 1px solid var(--color-secundaria);
    border-radius: 20px;
    width: 513px;
}
.head_modal{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 10px;
    color: var(--color-red);
}
.head_modal p{
    margin-left: 10px;
}
.head_modal::after{
    content: "";
    width: calc(50%);
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 25%;
    background-color: var(--color-red);
}
.form_modal{
    padding: 20px;
}
.form_row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    color: var(--color-terciaria);
}
.form_row label{
    width: 100%;
    border: 1px solid var(--color-secundaria);
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
}
.form_row label input{
    flex-basis: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 2px 10px;
    color: var(--color-terciaria);
    font-size: 1.1em;
    font-weight: 200;
}
.form_row label input::-webkit-input-placeholder{
    color: var(--color-terciaria);
}
.form_row label i{
    font-size: 1.2em;
}
.form_row p{
    font-size: .8em;
    line-height: 1em;
}
.form_row label img{
    width: 28px;
    border-radius: 50%;
}
.field_language{
    padding: 0 10px;
    color: var(--color-white);
}
.field_text label{
    border: none;
}
.field_text label input[type=checkbox]{
    flex-basis: 0;
    margin-right: 10px;
}
.field_text a{
    color: var(--color-red);
}
.form_row_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form_row_links a{
    color: var(--color-red);
    font-weight: 300;
    font-size: .9em;
}
.bottom_form_modal p{
    position: relative;
    text-align: center;
    width: 100%;
    color: var(--color-terciaria);
    margin-bottom: 20px;
}
.bottom_form_modal p span{
    background-color: var(--color-principal);
    position: relative;
    padding: 0 10px;
}
.bottom_form_modal p::before{
    content: "";
    width: 80%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: var(--color-terciaria);
}
.links_form_modal{
    width: 100%;
    display: flex;
    justify-content: center;
}
.links_form_modal a{
    padding: 5px 10px;
}
.bottom_form_modal img{
    width: 40px;
}

.onfocus{
    border-color: var(--color-red)!important;
}
.show_pass{
    cursor: pointer;
}
.head_over_modal{
    width: 580px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.close_over_modal{
    color: var(--color-white);
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(80,80,80, .3);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ================ modal ====================== */